<style>
    html,
    body {
        background-color: rgb(243, 243, 243);
    }

    .about-img {
        border-radius: 20px;
        width: 100%;
    }

    .service-ul li {
        list-style: disc;
    }
</style>
<br>
{{!-- <div class="container-lg mt-5">
    <img src="/assets2/img/hero-carousel/hero-carousel-3.jpg" alt="" class="about-img">
</div> --}}
<div class="container mt-5 mb-5">
    <h2><strong>Our Services</strong></h2>
    <h3><i>Indulge in Luxury: Explore Our Array of Resort Services</i></h3>

    <p>Experience leisure at its finest with our array of facilities, including an infinity pool where you can unwind
        your imagination while soaking in the tranquil surroundings. Let your little ones frolic in our kids’ park or
        challenge your friends and family to a friendly game of badminton or volleyball or carroms. And when hunger
        strikes, satisfy your cravings with a delightful BBQ feast under the stars.

    </p>

    <br><br><br>

    <div class="row mb-5">
        <div class="col-6">
            <br><br><br><br><br><br>
            <h1 class="text-success">Dinning and <br> Restaurant
            </h1>
        </div>

        <div class="col-6">


            <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel"
                data-bs-interval="5000">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#hero-carousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#hero-carousel" data-bs-slide-to="2"></li>
                    <li data-bs-target="#hero-carousel" data-bs-slide-to="3"></li>
                </ol>

                <!-- Carousel Inner -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/ginberry.png" class="d-block w-100" alt="Room">

                    </div>

                    <div class="carousel-item">
                        <img src="/images/bg_1.jpg" class="d-block w-100" alt="Ginberry">

                    </div>


                </div>

                <!-- Controls -->
                <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36   " height="36   " fill="currentColor"
                        class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                    </svg>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                        class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                    </svg>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>


    <div class="row mb-5">
        <div class="col-6">
            <br><br><br><br><br><br>
            <h1 class="text-success">Adventure Zone

            </h1>
        </div>

        <div class="col-6">


            <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel"
                data-bs-interval="5000">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#hero-carousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#hero-carousel" data-bs-slide-to="2"></li>
                    <li data-bs-target="#hero-carousel" data-bs-slide-to="3"></li>
                </ol>

                <!-- Carousel Inner -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/ginberry.png" class="d-block w-100" alt="Room">

                    </div>

                    <div class="carousel-item">
                        <img src="/images/bg_1.jpg" class="d-block w-100" alt="Ginberry">

                    </div>


                </div>

                <!-- Controls -->
                <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36   " height="36   " fill="currentColor"
                        class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                    </svg>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                        class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                    </svg>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>



    <div class="row mb-5">
        <div class="col-6">
            <br><br><br><br><br><br>
            <h1 class="text-success">Kids Friendly Area


            </h1>
        </div>

        <div class="col-6">


            <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel"
                data-bs-interval="5000">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#hero-carousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#hero-carousel" data-bs-slide-to="2"></li>
                    <li data-bs-target="#hero-carousel" data-bs-slide-to="3"></li>
                </ol>

                <!-- Carousel Inner -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/ginberry.png" class="d-block w-100" alt="Room">

                    </div>

                    <div class="carousel-item">
                        <img src="/images/bg_1.jpg" class="d-block w-100" alt="Ginberry">

                    </div>


                </div>

                <!-- Controls -->
                <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36   " height="36   " fill="currentColor"
                        class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                    </svg>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                        class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                    </svg>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>


</div>